<div class="stable-bg modal">
	
    <div class="bar bar-header" style="position:relative;background-color:#F95860;">
        <button class="button button-icon icon ion-chevron-left light" ng-click="backaboutus()"></button>
    </div>
    
    <p class="h4" style="margin-left: 30%;margin-top: 20%;">
        <br>
        <br>
        <strong>我们是深夜的常箐</strong>
        <br>
        <br>
        <strong>是凌晨的蛀虫</strong>
        <br>
        <br>
        <strong>我们只是想证明</strong>
        <br>
        <br>
        <strong>这混沌的年轻</strong>
        <br>
        <br>
        <br>
        <span class="h4" style="margin-left: 50%">——NEUQLAB</span>
    </p>
</div>