<div class="stable-bg modal">
	
    <div class="bar bar-header" style="position:relative;background-color:#F95860;">
        <button class="button button-icon icon ion-chevron-left light" ng-click="backsetting()"></button>
        <div class="h1 title" style="color: #FFFFFF;">反馈</div>
    </div>
    
    <div style="margin-top: 10px;">
        <label class="item item-input">
          <textarea style="margin-top: 10px;height: 200px;padding: 8px;"
                    placeholder="童鞋，来，咱俩唠唠~"
                    ng-model="feedback.message"></textarea>
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="sendfeedback()">
        <strong>提交</strong>
    </button>
</div>